---
layout: posts
title: Wszystkie artykuły
permalink: /all-posts/
description: Wszystkie artykuły
---
{% assign posts = site.posts | sort: 'points' | reverse %}
<div class="posts archive-group">
  <ul class="posts-nav">
    {% for post in posts %}
    <li>
      <a class="posts-nav-item" href="{{ post.url | relative_url }}">
        {% if post.points %} ({{ post.points }}) {% endif %}
        <span class="posts-nav-item-date">
          <time datetime="{{ post.date | date_to_xmlschema }}" class="date">
            {{ post.date | date: "%Y-%m-%d" }}
          </time>
        </span>
        {{ post.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
