---
layout: posts
title: Ranking
permalink: /sort-posts/
description: Ranking
---
{% include group-by-array.html collection=site.posts field="points" %}
<div class="posts archive-group">
  <dl class="posts-nav">
    {% assign names = group_names | reverse | compact %}
    {% for name in names %}
    {% assign posts = site.posts | where: "points", nil %}
    <dt>
      <h2>
        {{ name }}
      </h2>
    </dt>
    <dd>
      <ul>
        {% for post in posts %}
        {% assign points = post.points | strip %}
        {% if points == name %}
        <li>
          <a class="posts-nav-item" href="{{ post.url | relative_url }}">
            <span class="posts-nav-item-date">
              <time datetime="{{ post.date | date_to_xmlschema }}" class="date">
                {{ post.date | date: "%Y-%m-%d" }}
              </time>
            </span>
            {{ post.title }}
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </dd>
    {% endfor %}
  </dl>
</div>
